
<div class="row">
  <div class="twelve columns">

    <hr />
    <h1>If you're a part of my family, I will love you violently.</h1>

    <p>You've read about the goddesses, come on. They're an international sensation. These are my girlfriends. These are the women that I love that have completed the three parts of my heart.</p>


  </div>
</div>
<hr />
<div class="row">
  <div class="ten columns">
    <p>I'm not Thomas Jefferson. He was a pussy. We have a few rules here. Nobody panics. There's no judgment. You park your judgment at the door. Nobody dies. And &mdash; enjoy every moment. What did I miss? Drink chocolate milk. We just have fun. There's a ton of laughter in this house. A ton of love in this house. There's a ton of nobility in this house.</p>

    <p>They're the best at what they do and I'm the best at what I do. And together it's like, it's on. Sorry, Middle America. Yeah, I said it.</p>
  </div>
  <div class="two columns">
    <p>Guys, it's right there in the thing, duh! We work for the Pope, we murder people. We're Vatican assassins. How complicated can it be? What they're not ready for is guys like you and I and Nails and all the other gnarly gnarlingtons in my life, that we are high priests, Vatican assassin warlocks. Boom. Print that, people. See where that goes.</p>


  </div>
</div>




