 <div class="row">
    <div class="ten columns">
<h1>Got to dismiss these clowns.</h1>

<p>I'm sorry, man, but I've got magic. I've got poetry in my fingertips. Most of the time &mdash; and this includes naps &mdash; I'm an F-18, bro. And I will destroy you in the air. I will deploy my ordinance to the ground.</p>

<p>It's perfect. It's awesome. Every day is just filled with just wins. All we do is put wins in the record books. We win so radically in our underwear before our first cup of coffee, it's scary. People say it's lonely at the top, but I sure like the view.</p>

<p>It seems crazy to everybody else, but for us it works, Natty and Charlie have their own special connection. Look what I'm dealing with, man. I'm dealing with fools and trolls. I'm dealing with soft targets, and it's just strafing runs in my underwear before my first cup of coffee &hellip; they lay down with their ugly wives and their ugly children and just look at their loser lives and then they look at me and say, 'I can't process it.' Well, no, and you never will! Stop trying! Just sit back and enjoy the show.</p>
    </div>
    <div class="two columns">

<p>I'm tired of being told 'You can't talk about that, you can't talk about that.' Bull S-H-I-T. There's something this side of deplorable that a certain Chaim Levine &mdash; yeah, that's Chuck's real name &mdash; mistook this rock star for his own selfish exit strategy, bro. Check it, Alex: I embarrassed him in front of his children and the world by healing at a pace that his unevolved mind cannot process. Last I checked, Chaim, I spent close to the last decade effortlessly and magically converting your tin cans into pure gold. And the gratitude I get is this charlatan chose not to do his job, which is to write. Clearly someone who believes he's above the la
    </div>
  </div>

